<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Favicons -->
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Homebanking - Accounts</title>
</head>

<body id="body-pd">
    <div id="app">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_img_logo slide-in-blurred-top"><img src="./img/runebank.png" alt="Logo"></div>
            <!-- <button class="btn"> <div class="header_img"><h5>{{initials}}</h5></div></button> -->
            <div class="menu">
                <ul class="d-flex justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="header_img d-none d-sm-block">
                                <h5 v-cloak class="noSelectText">{{initials}}</h5>
                            </div>
                            <!-- <img src="assets/images/avatar/avatar-1.png" alt=""> -->
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./user.html"><i class="fa fa-user size-icon-1"></i>
                                <span>My Profile</span></a>
                            <!-- <a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i>
                                <span>Settings</span></a> -->
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="#" @click="logout"><i class="bx bx-exit  size-icon-1"></i>
                                <span>SignOut</span></a>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="l-navbar fade-in-fwd" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="./accounts.html" class="nav_logo"><i class='bx bxs-bank' style='color:#ffffff'></i><span
                            class="nav_logo-name">Rune Bank</span></a>
                    <div class="nav_list">
                        <a href="./accounts.html" class="nav_link active"><i class='bx bx-wallet'></i><span
                                class="nav_name">Accounts</span></a>
                        <a href="./cards.html" class="nav_link"><i class='bx bx-credit-card-alt'></i><span
                                class="nav_name">Cards</span></a>
                        <a href="./transfers.html" class="nav_link"><i class='bx bx-transfer'></i><span
                                class="nav_name">Transfers</span></a>
                        <a href="./loan-application.html" class="nav_link"><i
                                class='bx bx-bar-chart-alt-2 nav_icon'></i><span class="nav_name">
                                Loans</span></a>
                        <a href="../payOut/payOut.html" class="nav_link"><i class='bx bx-money-withdraw'></i><span
                                class="nav_name">Payments</span></a>
                        <a href="./user.html" class="nav_link"><i class='bx bx-user nav_icon'></i><span
                                class="nav_name">User</span></a>
                        <a href="../admin/admin.html" class="nav_link" v-show="userType == 'ADMIN'"><i
                                class='bx bxs-bolt-circle'></i><span class="nav_name">Switch as Admin</span></a>
                    </div>
                </div>
                <a href="#" class="nav_link" @click="logout"><i class='bx bx-log-out nav_icon'></i><span
                        class="nav_name">SignOut</span></a>
            </nav>
        </div>
        <main class="fade-in">
            <div class="pt-5 marginStart welcome row fade-in-fwd">
                <div class="col-xl-3 col-12 ">
                    <h2>Welcome back</h2>
                    <p class="reveal-text" v-cloak>{{currentDateTime()}}, <span
                            class="text-secondColor">{{infoClient}}</span></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-3">
                <div class="col-12 mt-3 mb-1 d-flex align-items-center marginStart2">
                    <h3 class="text-uppercase"> <i class='bx bxs-dashboard bx-md '></i> Dashboard</h3>
                </div>
                <div class="row col-xl-7 col-12 d-flex justify-content-center gap-3">
                    <div class="col-sm-12 col-md-12 col-xl-5 p-4 mt-2 containerBalCard">
                        <h4 class="d-flex align-items-center"><i class='bx bxs-dollar-circle me-3 bx-lg'
                                style='color:#600ca4'></i>Balance</h4>
                        <div class="row mb-1" v-for="cuenta in accountsClient2">
                            <div class="col-1 me-3 pt-3 d-flex align-items-center"><i class='bx bx-dollar bx-md'
                                    style='color:#600ca4'></i></div>
                            <div class="col-9 borderBalance">
                                <h5 class=" ms-1 pt-3"><a>Account: {{cuenta.number}}</a></h5>
                                <h6 class="ms-1">{{cuenta.accountType}}</h6>
                                <p class="text-success2 ms-1" v-cloak><span>Balance: </span>${{cuenta.balance}} </p>
                                <h5 class="ms-1 text-center "><a v-bind:href="'account.html?id=' + cuenta.id"><i
                                            class='bx bx-transfer me-1' style='color:#600ca4'></i>See transfers</a></h5>
                            </div>
                        </div>
                        <div class="mt-4 d-flex justify-content-center"
                            v-if="accountsClient2.length >= 1 && accountsClient2.length < 3">
                            <button class="btn bgPurple d-flex align-self-center" @click="createAccount">
                                <p class="ms-1 text-center">Request a new Account</p><i
                                    class='bx bx-wallet bx-md ms-1 d-flex align-self-center'></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-5 containerBalCard p-4 mt-2">
                        <h4 class="d-flex align-items-center"><i class='bx bxs-credit-card me-3 bx-lg'
                                style='color:#600ca4'></i>Cards</h4>
                        <div v-if="cards.length==0" class="mt-4 d-flex justify-content-center">
                            <button class="btn bgPurple d-flex align-self-center">
                                <a href="./create-cards.html" class="ms-1 text-center text-light">Request a new
                                    Card</a><i class='bx bx-credit-card bx-md ms-1 d-flex align-self-center'></i>
                            </button>
                        </div>
                        <div id="menu">
                            <div class="panel"
                                :class="{'titaniumAcc' : card.color === 'BLACK', 'goldAcc' : card.color === 'GOLD' , 'silverAcc' : card.color === 'PLATINUM'}"
                                v-for="card in cards">
                                <h2 class="name font-weight-bold noSelectText"><span v-show="card.type == 'DEBIT'">Debit
                                        Card</span><span v-show="card.type == 'CREDIT'">Credit Card</span></h2>
                                <h3 class="type noSelectText" @click="copiarNumber(card.number)">
                                    **** **** **** **** {{card.number.toString().slice(-4)}}</h3>
                                <span class="abv noSelectText">{{card.color.toString()}}</span>
                            </div>
                        </div>
                        <div v-if="cards.length>=1 && cards.length<6" class="d-flex justify-content-center pt-3">
                            <button class="btn bgPurple">
                                <a href="./create-cards.html" class="text-center text-light">Request a new Card</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-12 col-12 containerChart mt-2" v-show="newbal == 0">
                        <div class="accountCard2 bg-light d-flex justify-content-center align-items-center">
                            <img src="./img/smallLogo.png" class="w-50 h-50">
                            <div class="row">
                                <h4>All your accounts have no balance</h4>
                                <h6 class="w-75">When you have money in one of your accounts you can see a graph</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-12 col-12 containerChart mt-2" v-show="newbal != 0">
                        <div class="accountCard bg-light" id="chartdiv">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-12 ">
                    <div class="col-xl-12 col-sm-12 col-12 mb-4">
                        <div class="wrapper">
                            <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"><i
                                    class='bx bx-transfer me-3 bx-lg' style='color:#ffffff'></i><a class="navbar-brand"
                                    href="#">Last Transactions
                            </nav>
                            <div class="row mt-2 pt-2">
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-md-start align-items-center">
                                        <div class="fa fa-long-arrow-up"></div>
                                        <div class="text mx-3">Income</div>
                                        <div class="text-white ml-4 money">${{sumaCredit()}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-md-end align-items-center">
                                        <div class="fa fa-long-arrow-down"></div>
                                        <div class="text mx-3">Expenses</div>
                                        <div class="text-white ml-4 money">${{sumaDebit()}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <ul class="nav nav-tabs w-75">
                                    <li class="nav-item"> <a class="nav-link active" href="#">History</a></li>
                                </ul>
                                <a href="./transfers.html"><button class="btn bgPurple">New Transaction</button></a>
                            </div>
                            <div class="table-responsive mt-3">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Activity</th>
                                            <th scope="col">Date</th>
                                            <th scope="col" class="text-right">Amount</th>
                                            <th scope="col">Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="transaction in allTransactions.slice(-17)">
                                        <tr>
                                            <td scope="row">
                                                <i v-if="transaction.type === 'DEBIT'" class='bx bx-left-arrow-alt'
                                                    :class="{'icon-red' : transaction.type === 'DEBIT'}"></i>
                                                <i v-else class='bx bx-right-arrow-alt'
                                                    :class="{'icon-green' : transaction.type === 'CREDIT'}"></i>
                                                </span>{{transaction.description}}
                                            </td>
                                            <td class="text-muted">{{getTransactionDate(transaction.transactionDate)}}
                                            </td>
                                            <td class="d-flex justify-content-end align-items-center text-center"
                                                :class="{'text-red' : transaction.type === 'DEBIT', 'text-green' : transaction.type === 'CREDIT'}">
                                                ${{transaction.amount}}
                                            </td>
                                            <td class="text-center">${{transaction.newBalance}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between align-items-center results"> <span
                                    class="pl-md-3 text-white">Showing<b class="text-white"> 1-17 of
                                        {{allTransactions.length}}
                                    </b> trasactions</span>
                                <div class="pt-3">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item disabled"> <a class="page-link" href="#"
                                                    aria-label="Previous">
                                                    <span aria-hidden="true">&lt;</span> </a> </li>
                                            <li class="page-item"> <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&gt;</span> </a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-3 ps-5 loanCard3" v-show="loans.length >= 1" id="loanSection">
                <div class="col-12 loanCard2">
                    <div class="p-3 row loanCard gap-3 d-flex justify-content-center">
                        <div class="cardLoan2" v-for="loan in loans">
                            <h5 class="text-light text-center pt-2">{{loan.name}}</h5>
                            <p class="text-light">Amount:$ {{loan.amount.toFixed(2)}}</p>
                            <p class="text-light">Payments: {{loan.payments}}</p>
                            <p class="text-light"><span class="bolder">${{(loan.amount /
                                    loan.payments).toFixed(2)}}</span> Per Month</p>
                            <div class="bottom-0 end-0 pb-3 pe-3 text-light">
                                <i class='bx bxs-building-house bx-md ' v-show="loan.name === 'Mortgage Loan'"></i>
                                <i class='bx bxs-car bx-md' v-show="loan.name === 'Car Loan'"></i>
                                <i class='bx bxs-user bx-md' v-show="loan.name === 'Personal Loan'"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./data/accounts.js"></script>

</body>

</html>